/*------------------------------------*\
    #1 GENERAL-STYLES
\*------------------------------------*/

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700,600,500,300);

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: #222222;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
      -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
}

body ::-moz-selection {
  background: #004184;
  color: #fff;
}

body ::selection {
  background: #004184;
  color: #fff;
}

body.mobile {
  position: relative;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
  position: absolute;
  z-index: 999;
}

nav {
  position: relative;
}

main {
  position: relative;
  z-index: 3;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  position: relative;
  width: auto;
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 10px 0;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;

  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1 {
  font-weight: 700;
}

h2  {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 600;
}

h3  {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
  letter-spacing: normal;
}

h5  {
  letter-spacing: normal;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  margin: 35px auto;
  border-color: #d9d9d9;
  font-size: 0;
  max-width: 1110px
}

hr.hr-nobg {
  border-color: transparent;
}

nav:before, nav:after, .logo:before, .logo:after, .main-nav:before,
.main-nav:after, .container:before, .container:after, .container-fluid:before,
.container-fluid:after, .col:before, .row:before, .row:after,
.main-home:before, .main-home:after {
  display: table;
  content: " ";
}

.clearlist, .clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

nav:after, .logo:after, .row:after, .clearfix:after, .container-fluid:after,
.container:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-container {
  display: -webkit-box;
    display: -ms-flexbox;
      display: -webkit-flex;
        display: flex;

  -webkit-box-orient: column;
    -webkit-box-direction: column;
      -webkit-flex-direction: column;
        -ms-flex-direction: column;
          flex-direction: column;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.nav-flex-container {
  display: -webkit-box;
    display: -ms-flexbox;
      display: -webkit-flex;
        display: flex;

  -webkit-box-orient: row;
    -webkit-box-direction: row;
      -webkit-flex-direction: row;
        -ms-flex-direction: row;
          flex-direction: row;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.col {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col100 {
  width: 100%;
}

.container-xs-height {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.content-layer {
  z-index: 10000;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.inner {
  position: relative;
  z-index: 2;
}


/* Helpers */
.text-center { text-align: center; }
.text-right { text-align: right; }
.no-margin { margin: 0; }
.no-padding { padding: 0;}
.display-none { display: none; }
.pull-left { float: left; }
.pull-right { float: right; }
.col-middle { vertical-align: middle; }
.full-height { height: 100% !important; }




header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 800;

  -webkit-transition: background 0.4s ease, height 0.4s ease;
    transition: background 0.4s ease, height 0.4s ease;
}

header .transparent-dark {
  background: rgba(0, 0, 0, 0.26);

  -webkit-transition: background 0.4s ease, height 0.4s ease;
    transition: background 0.4s ease, height 0.4s ease;
}

header .transparent-dark .menu > li > a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #222;
  padding: 10px 10px 10px 35px;
}

header .menu > li.classic.open > a {
  color: #89C2FB !important;
}

header .dark {
  background: rgba(255, 255, 255, 0.9);

  -webkit-transition: background 0.4s ease, height 0.4s ease;
    transition: background 0.4s ease, height 0.4s ease;

  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

header .dark .logo {
  line-height: 55px;
}

header .dark .logo a {
  color: #333;
  height: 55px;
  line-height: 55px;
}

header .logo-container {
  width: 75%;
}

header .logo a {
  color: #fff;
  font-size: 1.6rem;
  padding: 5px 0;
}

header .logo img {
  height: 100%;
  line-height: 60px;
  vertical-align: middle;
}

header .dark .menu-toggler .one,
header .dark .menu-toggler .two,
header .dark .menu-toggler .three {
  background: #333;
}

header .minimized .menu-toggler {
    margin-top: 22.5px !important;
}

header .minimized .menu > li > a:before {
  max-width: 0 !important;
}

header .header-inner {
  line-height: 60px;
  width: 100%;

  -webkit-transition: line-height 0.4s ease;
    transition: line-height 0.4s ease;
}

header > .pull-right,
header .pull-left {
  position: relative;
}

.pull-right {
  float: right !important;
}

header .menu {
  margin: 0;
  display: inline-block;
}

header .menu > li {
  display: inline-block;
  list-style: none;
  font-size: 13px;
  margin-right: 12px;
  vertical-align: middle;
}

body.mobile header .menu > li.home.active {
  background: #dd0000;
}

body.mobile header .menu > li.food.active {
  background: #0079dd;
}

body.mobile header .menu > li.transport.active {
  background: #00ff38;
}

body.mobile header .menu >li.shopping.active {
  background: #ff00b8;
}

body.mobile header .menu > li.museums.active {
  background: #ffde00;
}

body.mobile header .menu > li.nightlife.active {
  background: #bd00ff;
}

header .menu > li.active a {
  color: #fff;
}

body.mobile header .menu > li.museums.active a,
body.mobile header .menu > li.transport.active a {
  color: #404040;
}

header .menu > li > a {
  position: relative;
  padding-right: 21px;
  display: block;
}

header .menu > li > a:before {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 0;
  white-space: pre;
  line-height: inherit;
  content: attr(data-text);

  -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

header .menu > li:last-child {
  border-right: none;
}

header .menu > li.open.classic > nav {
  border-color: rgba(0, 0, 0, 0.07);
}

header .menu > li.open > .classic {
  max-height: 999px;
}

header .menu > li.classic {
  position: relative;
}

header .menu > li.open > a {
  opacity: 1;
}

header .menu > li > .classic {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 34px;
  min-width: 190px;
  left: 50%;
  margin-left: -102px;
  max-height: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 0;

  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

header .menu > li > .classic > span.arrow {
  background-image: url(../images/white.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 7px;
  left: calc(50% - 7px);
  position: absolute;
  top: 0;
}

header .menu > li > .classic:after {
  content: '';
  position: absolute;
  height: 7px;
  right: 0;
  width: calc(50% - 7px);
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  top: 0;
}

header .menu > li > .classic ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-top: 6px;
}

header .menu > li > .classic ul > li {
  margin: 5px 25px;
  opacity: 1;

  -webkit-transition: all 0.1s linear 0.1s;
    transition: all 0.1s linear 0.1s;
}

header .menu > li > .classic ul > li a {
  font-weight: 400;
  color: #222;
  font-size: 0.9rem;
  line-height: 30px;
}

header .menu > li > .classic ul > li:first-child {
  margin-top: 20px;
}

header .menu > li > .classic ul > li:last-child {
  margin-bottom: 20px;
}

header .mobile-copyright {
  margin: 20px 35px;
}

header .mobile-copyright p.copyright-info {
  font-size: 0.8rem;
  font-weight: 400;
  color: #222;
  line-height: 1.5;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

header .mobile-copyright p.copyright {
  font-size: 0.8rem;
  font-weight: 400;
  color: #222;
  line-height: 1.7;
  opacity: .5;
  margin-top: 0;
  margin-bottom: 10px;
}

header .mobile-social {
  margin: 20px 35px;
}

header .mobile-social ul {
  margin: 0;
  padding: 0;
}

header .mobile-social ul li {
  display: inline-block;
}

header .mobile-social ul li a {
  display: block;
  width: 30px;
  font-size: 1.5rem;
  color: #222;
  padding: 0;
  opacity: .3 !important;
  cursor: pointer;

  transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

header .mobile-social ul li a:hover {
  opacity: 1 !important;
}

.menu-toggler {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
  width: 20px;
  height: 20px;
  margin-top: 22.5px;
  display: inline-block !important;
  user-select: none;
  box-sizing: content-box;
  cursor: pointer;
}

.menu-toggler .one,
.menu-toggler .two,
.menu-toggler .three {
  width: 100%;
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

  -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-toggler .one,
.menu-toggler .two {
  transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
}

.menu-toggler.on .one {
  transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
}

.menu-toggler.on .two {
  opacity: 0;
}

.menu-toggler.on .three {
  transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
}

[data-pages="header-toggle"] {
  display: none;
  z-index: 10;
}

.menu-content[data-pages-direction="slideLeft"],
.menu-content[data-pages-direction="pushLeft"] {
  left: 0;
}

.menu-content[data-pages-direction="slideRight"],
.menu-content[data-pages-direction="pushRight"] {
  right: 0;
}

.menu-content[data-pages-direction="fullScreenOverlay"] {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.menu-content[data-pages-direction="slideTop"] {
  top: 0;
}

header .menu > li {
  display: block;
}

header .menu-content .header-inner {
  line-height: 1.3 !important;
}

.menu-content {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: #fafafa;
  z-index: 850;
  overflow-y: auto;
}

body.menu-opened > header:before {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  content: '';
}

header .menu > li > a:before,
header .menu > li > a > span:before {
  display: none;
}

header:last-child.header {
  top: -200%;
}

.close-nav {
  display: inline !important;
  font-size: 1rem;
  color: #222;
  padding: 10px;
  margin: 10px 10px 10px 0;
}

.menu-content ul {
  width: 100%;
  padding: 0;
}

.menu-content ul li {
  padding: 0;
  margin-right: 0 !important;
}

.menu-content ul > li > a {
  opacity: 1 !important;
  padding: 10px 10px 10px 35px;
}

[data-pages-direction="slideLeft"] {
  display: block;

  -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
      -ms-transform: translate(-100%, 0);

  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-opened {
  overflow-y: hidden;
}

.menu-opened [data-pages-direction="slideLeft"] {
  -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
      -ms-transform: translate(0%, 0);
}

[data-pages-direction="slideRight"] {
  display: block;

  -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
      -ms-transform: translate(100%, 0);

  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-opened {
  overflow-y: hidden;
}

.menu-opened [data-pages-direction="slideRight"] {
  -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
      -ms-transform: translate(0%, 0);
}

[data-pages-direction="slideTop"] {
  display: block;

  -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
      -ms-transform: translate(0, -100%);

  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-opened {
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}

.menu-opened [data-pages-direction="slideTop"] {
  -webkit-transform: translate3d(0, calc(0% + 65px), 0);
    transform: translate3d(0, calc(0% + 65px), 0);
      -ms-transform: translate(0, calc(0% + 65px));
}

header .menu > li > .classic {
  top: 0 !important;
  position: relative;
  left: auto;
  right: auto;
  margin-left: 0;
}

header .menu > li > .classic:before,
header .menu > li > .classic:after,
header .menu > li > .classic .arrow {
  display: none;
}

header .menu > li > .classic ul > li {
  margin: 5px 0;
}

header .menu > li > .classic ul > li:first-child {
  margin-top: 17px;
}

header .menu > li > .classic ul > li:last-child {
  margin-bottom: 17px;
}

.menu-content {
  width: 270px;
  overflow-y: auto;
}





/*------------------------------------*\
    #4 HOME-SLIDER-STYLES
\*------------------------------------*/

section.home-slider {
  height: 300px;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  margin-bottom: 0;
  background-color: #f0f0f0;
}

.bg-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/overlay.png');
  opacity: 0.3;
}

section.home-slider .container {
  max-width: 100%;
}

section.home-slider .slider-content {
  position: absolute;
  bottom: 5%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container:hover .auto-reveal.swiper-button-prev,
.swiper-container:hover .auto-reveal.swiper-button-next {
  -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
      transform: translateX(0);
}

.swiper-navigation {
  width: 37px;
  height: 43px;
  line-height: 43px;
  background-image: none;
  font-size: 20px;
  font-family: 'pages-icon';
  text-align: center;
}

.swiper-navigation.swiper-button-next {
  right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.swiper-navigation.swiper-button-next:before {
  content: "\e631";
}

.swiper-navigation.swiper-button-prev {
  left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.swiper-navigation.swiper-button-prev:before {
  content: "\e629";
}

.swiper-navigation.swiper-dark-solid {
  background-color: #38c9ff;
  color: #ffffff;
}

.swiper-navigation.swiper-white-solid {
  background-color: #ffffff;
  color: #38c9ff;
}

.swiper-navigation.swiper-rounded {
  width: 49px;
  height: 49px;
  line-height: 49px;

  border-radius: 100%;
    -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
}

.swiper-navigation.swiper-rounded.swiper-button-next {
  right: 10px;
}

.swiper-navigation.swiper-rounded.swiper-button-prev {
  left: 10px;
}

.swiper-navigation.auto-reveal {
  -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.swiper-navigation.auto-reveal.swiper-button-next {
  -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
      transform: translateX(200%);
}

.swiper-navigation.auto-reveal.swiper-button-prev {
  -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
      transform: translateX(-200%);
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);

  transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
}

.swiper-slide {
  font-size: 18px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  display: -webkit-box;
    display: -ms-flexbox;
      display: -webkit-flex;
        display: flex;

  -webkit-box-pack: center;
    -ms-flex-pack: center;

  -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
      -ms-flex-align: center;
        -webkit-align-items: center;
          align-items: center;
}

.slider-wrapper {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;

  -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
      transform: translateZ(0);
}

.swiper-slide .background-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[data-pages-bg-image] {
  background-size: cover;
  position: relative;
}

[data-pages-bg-image] > * {
  z-index: 1;
  position: relative;
}

.swiper-slide .background-wrapper .background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.swiper-slide.fit h1 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.swiper-slide.fit h5 {
  font-family: 'Lato', sans-serif;
  color: #fafafa;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}





/*------------------------------------*\
    #5 BANNER-SECTION-STYLES
\*------------------------------------*/

section.banner-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  color: #fff;
  z-index: 9;
}

section.banner-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/overlay.png');
}

section.banner-section h1 {
  font-weight: 600;
}

section.banner-section p {
  font-size: 1rem;
  margin-top: 0;
}

section.banner-section .breadcrumbs a:first-child:before,
section.banner-section .breadcrumbs span:first-child:before {
  display: none;
}

section.banner-section  .breadcrumbs a:before,
section.banner-section  .breadcrumbs span:before {
  content: "/";
  margin: 0 5px;
}

section.banner-section  .breadcrumbs a {
  color: #38c9ff;
  font-weight: 600;
}

section.banner-section  .breadcrumbs span {
  color: #fafafa;
  font-weight: 600;
}

section.banner-section i {
  color: #38c9ff;
  font-size: 1.3rem;
  margin-right: 5px;
}

section.banner-section .flex-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  z-index: 10;

  -webkit-box-pack: center;
    -webkit-justify-content: center;
      -ms-flex-pack: center;
        justify-content: center;
}

.mag-banner {
  background: url('../images/banners/manchester-art-gallery.jpg') no-repeat;
}

.mosi-banner {
  background: url('../images/banners/mosi.jpg') no-repeat;
}

.mot-banner {
  background: url('../images/banners/mot.jpg') no-repeat;
}

.arndale-banner {
  background: url('../images/banners/manchester-arndale.jpg') no-repeat;
}

.intu-banner {
  background: url('../images/banners/intu-trafford-centre.jpg') no-repeat;
}

.gorilla-banner {
  background: url('../images/banners/gorilla-manchester.jpg') no-repeat;
}

.sankeys-banner {
  background: url('../images/banners/sankeys.jpg') no-repeat;
}

.cloud-banner {
  background: url('../images/banners/cloud23.jpg') no-repeat;
}

.bus-banner {
  background: url('../images/banners/bus-banner.jpg') no-repeat;
}

.taxi-banner {
  background: url('../images/banners/taxi-banner.jpg') no-repeat;
}

.tram-banner {
  background: url('../images/banners/tram-banner.jpg') no-repeat;
}

.burrito-banner {
  background: url('../images/banners/bar-burrito.jpg') no-repeat;
}

.wagamama-banner {
  background: url('../images/banners/wagamama.jpg') no-repeat;
}

.archies-banner {
  background: url('../images/banners/archies.jpg') no-repeat;
}

.bella-banner {
  background: url('../images/banners/bella-italia.jpg') no-repeat;
}

.down-arrow a {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 30px;
  color: #fff;
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  z-index: 11;
}





/*------------------------------------*\
    #6 MAIN-CONTENT-STYLES
\*------------------------------------*/

main.main-content {
  position: relative;
  background: #fff;
  z-index: 12;
}

main.main-content h1 {
  color: #ababab;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

main.main-content article {
  padding-top: 60px;
  padding-bottom: 30px;
}

main.main-content article a {
  color: #ff3366;
}

main.main-content article a.document-download {
  display: inline-block;
  background: #ff3366;
  color: #fff;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 4px;
  text-decoration: none
}

main.main-content article .app-store-badge {
  max-width: 120px;
  margin-bottom: 10px;
}

main.main-content article .app-store-badge a {
  display: block;
}

main.main-content aside {
  background: #fbfbfb;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 50px;
}

main.main-content aside h3 {
  color: #404040;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

main.main-content aside h3 i {
  position: relative;
  display: inline-block;
  color: #999;
  margin-right: 4px;
  vertical-align: middle;
}

main.main-content aside .widget-title {
  padding: 0 15px 16px 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}

main.main-content aside h3 i span {
  position: relative;
  display: block;
  width: 16px;
  height: 7px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-top: -5px;
}

main.main-content aside h3 i span::before,
main.main-content aside h3 i span::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 12px;
  height: 1px;
  background: #999
}

main.main-content aside h3 i span::before {
  top: 2px;
}

main.main-content aside h3 i span::after {
  top: 8px;
}

main.main-content aside > ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

main.main-content aside ul li {
  border-top: 1px solid #e9e9e9;
}

main.main-content aside ul li:first-child {
  border-top: none;
}

main.main-content aside li a {
  position: relative;
  display: block;
  color: #3d4652;
  padding: 11px 30px 11px 0;
}

main.main-content aside li a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #38c9ff;

  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

main.main-content aside li a i {
  position: absolute;
  right: 0;
  background: #e9e9e9;
  padding: 2px 6px;
  line-height: 1.3;
  border-radius: 10px;

  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

main.main-content aside li a:hover::after {
  width: 100%;
}

.categories li.m-active > a {
  color: #ff3366;
}

.categories li.m-active > a i {
  background: #ff3366;
  color: #fff;
}

.category-list {
  display: none;
}

.category-list ul {
  padding-left: 10px;
}

.category-list li a {
  font-size: 0.8rem;
  padding: 8px 10px 8px 0 !important;
}

.article-img p {
  background: #f0f0f0;
  color: #444;
  font-size: 0.75rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 6px 4px;
}

.related-pages {
  display: none;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e9e9e9;
}

.show-tab {
  display: block !important;
}

.related-pages:last-child {
  margin-bottom: 0;
}

.related-pages h4 {
  font-weight: 500;
  padding: 6px 0;
  margin: 0;
  margin-bottom: 5px;
}

.related-pages a {
  display: inline-block;
  background: #ff3366;
  color: #fff;
  text-align: center;
  padding: 6px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}





/*------------------------------------*\
    #7 REVIEW-BOX-STYLES
\*------------------------------------*/

.review-box {
  background: #fbfbfb;
  color: #404040;
  padding: 10px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.review-box h3 {
  position: relative;
  font-weight: 500;
  border-bottom: 1px solid #e9e9e9;
}

.review-box h3 span {
  display: block;
  color: #c0c0c0;
  font-size: 0.8rem;
  margin: 5px 0;
}

.review-box h3 i {
  position: absolute;
  top: 0;
  right: 0;
  color: #c0c0c0;
  line-height: 1.3;
}

.review-box .rating i {
  color: #ff3366;
}

.review-box .rating i.star-gray {
  color: #c0c0c0;
}

.review-title {
  margin-bottom: 15px;
}

.review-title h2 {
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}





/*------------------------------------*\
    #8 LOCATION-DETAILS-STYLES
\*------------------------------------*/

section.location-details {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 14;
}

section.location-details::before {
  content: '';
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 201, 255, 0.7);
  z-index: -1;
}

.detail-body {
  background: #ffffff;
  margin-bottom: 30px;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.detail-item {
  padding: 22px;
}

.detail-item i {
  display: block;
  color: #404040;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 18px;
}

.detail-item h4 {
  color: #404040;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.detail-item h4::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #404040;
  margin: 12px auto
}

.detail-item p {
  color: #808080;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0;
}

.detail-item p a {
  color: #38c9ff;
}

.detail-item p a:hover {
  color: #ff3366;
}





/*------------------------------------*\
    #9 JUMPS-SECTION-STYLES
\*------------------------------------*/

section.jumps-section {
  position: relative;
  background: #fff;
  padding: 60px 0;
  z-index: 3;
}

.jump-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-jump-title {
  margin-bottom: 20px;
}

.main-jump-title h2 {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-jump-title a {
  display: inline-block;
  background: #38c9ff;
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.main-jump-title a:hover {
  background: #38A5FF;
}

.main-jump-title a i {
  margin-left: 5px;
}

.jump-flex-item {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.jump-flex-item:last-child {
  margin-bottom: 0;
}

.jump-flex-item > a {
  position: relative;
  display: block;
  color: #333;
}

.jump-flex-item > a:hover .jump-overlay {
  opacity: 0.3;
}

.jump-content {
  background: #fff;
  padding: 10px;
  border: 1px solid #f9f9f9;

  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .175);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .175);
}

.jump-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.jump-title a {
  color: #333;
  font-family: 'Work Sans', sans-serif;
}

.jump-title a:hover {
  color: #38c9ff;
}

.jump-content p {
  color: #aaa;
}





/*------------------------------------*\
    #10 ACCORDION-SECTION-STYLES
\*------------------------------------*/

.accordion-jumps {
  position: relative;
  background: #fff;
  padding: 60px 0;
  z-index: 2;
}

.accordion {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.accordion-container {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
}

.accordion-header {
  padding: 15px;
}

.accordion-header h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.accordion-header p {
  color: #a9a9a9;
  font-size: 1rem;
  margin-bottom: 0;
}

.jump-panel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.jump-panel > div {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.jump-panel > div:before {
  content: none;
}

.jump-panel > div {
  position: relative;
}

.jump-panel .panel1::before,
.jump-panel .panel2::before,
.jump-panel .panel3::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);

  -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
}

.m-active .panel-title {
  background: transparent !important;
}

.jump-panel > div:first-child {
  margin-top: 0;
}

.jump-panel .panel-title {
  position: relative;
  margin: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;

  -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
}

.jump-panel .panel-title h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.jump-panel .panel-title p {
  margin-top: 5px;
  margin-bottom: 0;
  color: #e3e3e3;
}

.jump-panel .panel-content {
  position: relative;
  display: none;
  padding: 15px;
  text-align: center;
}

.jump-panel .panel-content a {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  display: block;
  width: 50%;
  background: #38c9ff;
  color: #fff;
  font-size: 1.3rem;
  padding: 12px 0;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}

.jump-panel .panel-content:hover a {
  opacity: 1;
}

.panel1.bus {
  background: url('../images/jumps/bus.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel2.taxi {
  background: url('../images/jumps/taxi.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel3.tram {
  background: url('../images/jumps/tram.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel1.mag {
  background: url('../images/jumps/mag.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel2.mosi {
  background: url('../images/jumps/mosi.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel3.mot {
  background: url('../images/jumps/mot.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel1.gorilla {
  background: url('../images/jumps/gorilla.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel2.sankeys {
  background: url('../images/jumps/sankeys.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel3.cloud {
  background: url('../images/jumps/cloud23.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.spacer {
  height: 8rem;
}





/*------------------------------------*\
    #11 CATEGORY-SECTION-STYLES
\*------------------------------------*/

.category {
  position: relative;
  background: rgba(56, 201, 255, 0.8);
  color: #fff;
  padding: 60px 0;
  overflow: hidden;
}

.category::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/category-bg.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
}

.category-title h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

.category-item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.category-item-container {
  position: relative;
  overflow: hidden;
}

.category-item:last-child {
  margin-bottom: 0;
}

.category-item a {
  display: block;
  padding: 40px 10px;
  color: #fff;
  border: 2px solid #fff;
}

.category-item a:hover {
  background: #fff;
  color: #38c9ff;
}

.category-item a i {
  font-size: 2rem;
  margin-bottom: 5px;
}

.category-item a h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.category-item .cat-item-links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #38c9ff;

  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.category-item:hover .cat-item-links,
.category-item.clicked .cat-item-links {
  top: 0;
}

.category-item ul {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category-item li {
  margin-bottom: 10px;
}

.category-item li:last-child {
  margin-bottom: 0;
}

.category-item li a {
  position: relative;
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
}

.category-item li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;

  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.category-item li a:hover {
  color: #fff;
  background: transparent;
}

.category-item li a:hover::after {
  width: 100%;
}





/*------------------------------------*\
    #12 FOOTER-STYLES
\*------------------------------------*/

footer h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.top-footer {
  background: #f5f6f6;
  padding: 30px 0;
}

.top-footer .col {
  display: -webkit-box;
    display: -webkit-flex;
      display: -ms-flexbox;
        display: flex;

  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -webkit-flex-direction: column;
        -ms-flex-direction: column;
          flex-direction: column;
}

.top-footer ul, .bottom-footer ul {
  padding: 0;
  margin: 0;
}

.top-footer li {
  display: block;
  color: #999;
  margin-bottom: 5px;
}

.top-footer p {
  color: #999;
}

.top-footer li a {
  color: #38c9ff;
  font-size: 0.9rem;
}

.top-footer li a:hover {
  color: #ff3366;
}

.footer-social {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social a {
  display: block;
  color: #ff3366;
  font-size: 1.3rem;
  margin-right: 15px;
}

.footer-social:last-child a {
  margin-right: 0;
}

.bottom-footer  {
  background: #ededed;
  padding: 15px 0;
}

.bottom-footer li {
  display: block;
  color: #999;
  margin-bottom: 5px;
}

.bottom-footer li:last-child {
  margin-bottom: 0;
}

.bottom-footer li a {
  color: #333;
}

.bottom-footer li a:hover {
  color: #ff3366;
}





/*------------------------------------*\
    #13 GOOGLE-MAP-STYLES
\*------------------------------------*/

.map {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}





/*------------------------------------*\
    #14 BACK-TO-TOP-STYLES
\*------------------------------------*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 800;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(56, 201, 255, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
      transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
      transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #38c9ff;
  opacity: 1;
}





/*------------------------------------*\
    #15 MEDIA-QUERIES
\*------------------------------------*/

/* Large Screen Phones */
@media (min-width: 500px) {
  p {
    font-size: 0.95rem;
  }

  header .logo a {
    height: 60px;
    line-height: 60px;
    padding: 5px 0;
  }

  header .dark .logo img {
    height: 55px;
  }

  a, .top-footer li a {
    font-size: 0.95rem;
  }

  .swiper-slide.fit h1 {
    font-size: 1.5rem;
  }

  .swiper-slide.fit h5 {
    font-size: 1.1rem;
  }

  section.banner-section h1 {
    font-size: 1.7rem;
  }

  section.banner-section p {
    font-size: 1.1rem;
  }

  section.banner-section .breadcrumbs a,
  section.banner-section .breadcrumbs span {
    font-size: 0.9rem;
  }

  section.banner-section i {
    font-size: 1.5rem;
  }

  main.main-content h1 {
    font-size: 1.5rem;
  }

  .article-img img,
  aside.aside-content img {
    width: 100%;
  }

  .article-img p {
    font-size: 0.85rem;
  }

  .related-pages h4 {
    font-size: 1.1rem;
  }

  .top-footer ul {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

/* Small Screen Tabelts */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  header .logo a {
    font-size: 2rem;
  }

  section.home-slider {
    height: 650px;
  }

  section.home-slider .slider-content {
    left: 0;
    right: 0;
    bottom: 35%;
    margin: 0 auto;
  }

  section.home-slider .slider-content .col {
    margin-left: -15px;
    margin-right: -15px;
  }

  .swiper-slide.fit h1 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .swiper-slide.fit h5 {
    font-size: 1.4rem;
  }

  section.banner-section h1 {
    font-size: 2.2rem;
    font-weight: 400;
  }

  section.banner-section .breadcrumbs a,
  section.banner-section .breadcrumbs span {
    font-size: 1rem;
  }

  section.banner-section i {
    font-size: 1.9rem;
  }

  .jumps-section .flex-container,
  .category .flex-container {
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -webkit-flex-direction: row;
          -ms-flex-direction: row;
            flex-direction: row;
  }

  .jump-flex-item {
    width: 49.9%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .jump-overlap {
    position: relative;
    margin-top: -11rem;
    z-index: 5;
  }

  .main-jump-title h2 {
    color: #fff;
    font-size: 1.8rem;
  }

  .jump-title a {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .category-title h2 {
    font-size: 2.5rem;
  }

  .category-item {
    width: 33.333%;
  }

  .category-item:last-child {
    -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
          flex-grow: 1;
  }

  .category-item a {
    padding: 70px 20px;
  }

  .category-item a i {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .category-item a h3 {
    font-size: 1.7rem;
  }

  .map {
    height: 400px;
  }

  .review-title h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  section.location-details .col::before {
    display: none;
  }

  section.location-details .flex-container {
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -webkit-flex-direction: row;
          -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
          justify-content: space-between;
  }

  section.location-details::before {
    display: none;
  }

  .detail-body {
    width: 32%;
    margin: 0;
  }

  .detail-item {
    padding-bottom: 25px;
  }

  .category-list li a {
    font-size: 0.9rem;
  }

  .footer-social a {
    font-size: 1.6rem;
  }

  .top-footer ul {
    width: 31%;
  }

  .top-footer ul:nth-of-type(2) {
    width: 46%;
  }

  .top-footer ul:nth-of-type(3) {
    width: 23%;
  }
}

/* Medium Screen Tablets */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  header .header-inner,
  header .dark .logo {
    line-height: 0;
  }

  header .dark .logo img {
    height: 55px;
    vertical-align: top;
  }

  header .logo-container {
    display: inline-block;
    width: 29%;
    float: none;
  }

  header .menu > li.active {
    position: relative;
  }

  header .menu > li.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: -1;
  }

  header .menu > li.active.home::after {
    background: #dd0000;
  }

  header .menu > li.active.food::after {
    background: #0079dd;
  }

  header .menu > li.active.transport::after {
    background: #00ff38;
  }

  header .menu > li.active.shopping::after {
    background: #ff00b8;
  }

  header .menu > li.active.museums::after {
    background: #ffde00;
  }

  header .menu > li.active.nightlife::after {
    background: #bd00ff;
  }

  .menu-content {
    position: relative;
    width: auto;
    background: transparent;
    overflow-y: visible;

    -webkit-transform: none !important;
      -ms-transform: none !important;
        transform: none !important;
  }

  .menu-toggler, .close-nav {
    display: none !important;
  }

  .header .transparent-dark .menu > li > a {
    color: #fff;
    font-size: 1rem;
    line-height: 60px;
    text-align: center;
    opacity: 0.5 !important;
    padding: 0 10px;
  }

  .header .dark .menu > li > a {
    color: #111;
    line-height: 55px;
  }

  .header .menu > li > .classic ul > li a {
    font-size: 0.9rem;
    line-height: normal;
  }

  .header .transparent-dark .menu > li > a:hover {
    opacity: 1 !important;
  }

  .header .menu {
    display: initial !important;

    -webkit-transform: none !important;
      -ms-transform: none !important;
        transform: none !important;
  }

  .header .menu > li {
    display: inline-block;
  }

  .header .menu > li.active {
    background: none;
  }

  .header .menu > li.active a {
    opacity: 1 !important;
  }

  .header .menu > li.classic > a {
    display: block;
  }

  .header .menu > li > .classic {
    max-height: 0;
  }

  .header .menu > li:after,
  .header .menu > li > .classic ul > li::after {
    display: none;
  }

  .header .menu > li > .classic:before {
    content: '';
    position: absolute;
    height: 7px;
    width: calc(50% - 7px);
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: inline-block;
  }

  .header .menu > li > .classic:after {
    content: '';
    position: absolute;
    height: 7px;
    right: 0;
    width: calc(50% - 7px);
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    top: 0;
    display: inline-block;
  }

  .header .menu > li > .classic > span.arrow {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .header .menu > li > .classic {
    position: absolute;
    left: 50%;
    right: 0;
    top: 45px !important;
    margin-left: -102px;
    max-height: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 0;
  }

  .header .menu > li.classic.open > a {
    color: #38A5FF;
    opacity: 1;
  }

  .header .menu > li > .classic ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 6px;
  }

  .header .menu > li > .classic ul > li a {
    color: #121212;
    opacity: 0.5;
  }

  .header .menu > li > .classic ul > li a:hover {
    opacity: 1;
  }

  .header .menu > li.classic > nav ul li {
    padding: 0;
    margin: 0;
  }

  .header .menu > li.classic > nav ul li a {
    display: block;
    padding: 8px 12px;
  }

  header .mobile-copyright,
  header .mobile-social {
    display: none;
  }

  section.banner-section {
    height: 600px;
    background-attachment: fixed;
  }

  section.banner-section .flex-container {
    height: calc(600px - 60px);
  }

  section.banner-section h1 {
    font-size: 3rem;
  }

  main.main-content .flex-container {
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -webkit-flex-direction: row;
          -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
          justify-content: space-between;
  }

  main.main-content h1 {
    font-size: 1.8rem;
  }

  main.main-content article {
    width: 60%;
    padding-bottom: 60px;
  }

  main.main-content article a:hover {
    color: #38c9ff;
  }

  main.main-content article a.document-download:hover {
    display: inline-block;
    background: #38c9ff;
    color: #fff;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 4px;
    text-decoration: none
  }

  main.main-content aside {
    width: 30%;
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;

    -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
        align-self: flex-start;
  }

  main.main-content article .app-badges-container {
    -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
          justify-content: flex-start;
  }

  main.main-content article .app-badges-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  main.main-content article .app-store-badge {
    margin-right: 15px;
    margin-bottom: 0;
  }

  main.main-content aside h3 {
    font-weight: 500;
  }

  main.main-content aside li a:hover {
    color: #38c9ff;
  }

  main.main-content aside li a:hover i {
    background: #38c9ff;
    color: #fff;
  }

  .related-pages {
    position: relative;
  }

  .related-pages::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #ff3366;

    -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }

  .related-pages:hover::after {
    width: 100%;
  }

  .related-pages a {
    background: transparent;
    color: #ff3366;
    border: 1px solid #ff3366;
  }

  .related-pages a:hover {
    background: #ff3366;
    color: #fff;
  }

  .detail-item {
    padding-bottom: 22px;
  }

  .detail-item i {
    font-size: 3rem;
  }

  .detail-item h4 {
    font-size: 1.4rem;
  }

  .jump-flex-item {
    width: 24.9%;
    margin-bottom: 0;
  }

  .jump-flex-item > a {
    min-height: 130px;
  }

  .accordion {
    display: inline-block;
    width: 33%;
  }

  .top-footer .col {
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -webkit-flex-direction: row;
          -ms-flex-direction: row;
            flex-direction: row;
  }

  .top-footer p {
    margin-bottom: 0;
  }

  .footer-item {
    width: 33.333%;
  }

  .footer-item:nth-of-type(1),
  .footer-item:nth-of-type(2) {
    padding-right: 30px;
  }

  .footer-social a {
    font-size: 1.9rem;
  }

  .footer-social a:hover {
    color: #38c9ff;
  }

  .bottom-footer ul {
    text-align: center;
  }

  .bottom-footer li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .bottom-footer li:last-child {
    margin-right: 0;
  }
}

/* Large Screen Tablets - Laptop - Desktop */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  main.main-content article {
    width: 65%;
  }

  main.main-content aside {
    width: 30%;
  }

  .detail-item p, .detail-item a {
    font-size: 1rem;
  }
}
